.characterCard {
  margin: 12px 0;
  padding: 12px;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid grey;
}

.title {
  margin-block-end: 12px;
}

.text {
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
}