.textCard {
  border: 1px solid #61e8e8;
  color: #61e8e8;
  margin-block-end: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}

.text {
  white-space: pre-line;
  margin-block-end: 24px;
}

.expanded {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: break-spaces;
}

.skeleton {
  border-radius: 0 !important;
  border: none !important;
  background-color: #61e8e8 !important;
}

.readMoreLink {
  margin-block-end: 12px;
  text-decoration: underline;
}

.readMoreLink:hover {
  cursor: pointer;
} 

.tokenId {
  display: inline-block;
  margin-block-end: 12px;
}

.meta {
  display: flex;
  flex-direction: column;
}

.writtenAt {
  display: inline-block;
}

.flex {
  display: flex;
  align-items: center;
}

.by {
  margin-inline-end: 12px;
}

.link {
  text-decoration: underline;
}

.languageToggle {
  margin-block: 12px;
}