.imageWrapper {
  position: relative;
  margin: 24px;
}

.redFilter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #ea175a;
  opacity: 0.5;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.redFilter::after {
  content:  '';
  position: absolute;
  top: 0px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 4;
  background: repeating-linear-gradient(transparent, transparent 4px, rgba(0,0,0,0.1) 4px, rgba(0,0,0,0.1) 8px);
}

.image {
  border-radius: 50%;
}


.info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
  overflow-y: auto;
}

.infoLine {
  display: block;
  white-space: break-spaces;
}

.bold {
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

.marginBottom {
  margin-block-end: 12px;
}

.linkish:hover {
  cursor: pointer;
}

.focusClass {
  height: 100%;
  width: 100%;
}

.contentClass {
  height: 100%;
  width: 100%;
  max-width: none !important;
  max-height: none !important;
  border: none !important;
  border-radius: 0 !important;
  background: linear-gradient(#070934,#501872) !important;
  color: #61e8e8 !important;
  font-family: 'Courier New', Courier, monospace;
}

.recordContent {
  height: 100%;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  margin-block-end: 24px;
}

.openFileButton {
  margin-block-start: 24px;
}
