.button {
  padding: 12px;
  width: fit-content;
  background-color: #ea175a;
  border: none;
  border-radius: 0;
  margin-block-start: 0;
  box-shadow: 4px 2px 0 #61e8e8;
  font-family: 'Courier New', Courier, monospace;
  font-weight:600;
}

.button:hover:enabled {
  cursor: pointer;
  background-color: #940f4b;
  transform: translate(2px, 1px);
  box-shadow: 2px 1px 0 #61e8e8;
}

.button:disabled {
 background-color: grey; 
 cursor: default;
}
