.button {
  background-color: #000;
  border-radius: 10px;
  color: #fff;
  border: none;
  padding: 12px;
  font-family: serif;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
 background-color: grey; 
 cursor: default;
}