.about {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.block {
  min-height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.first, .fourth {
  background-color: #003049;
  background-image: linear-gradient(315deg, #669BBC 0%, #003049 74%);
}

.second, .fifth {
  background-color: #003049;
  background-image: linear-gradient(315deg, #003049 0%, #669BBC 74%);
}

.third, .sixth {
  background-color: #003049;
  background-image: linear-gradient(215deg, #669BBC 0%, #003049 85%);
  display: flex;
  flex-direction: column;
}

.logoWrapper {
  display: flex;
  flex-direction: column;

}

.aboutTitle {
  color: #fff;
  font-size: 54px;
  margin: 24px 12px;
  font-family: var(--inter-font);
}


.cardTitle {
  color: #fff;
  margin-block-end: 12px;
  font-family: var(--inter-font);
}

.cardText {
  color: #fff;
  line-height: 1.8rem;
}

.card {
  max-width: 1200px;
  @media (max-width: 900px) {
    margin-inline: 24px;
  }
}

.text {
  margin: -24px 0 0 0;
  font-size: 20px;
  color: #fff;
  line-height: 1.8rem;
}

.nextLaunchInfo {
  font-size: 16px;
  color: #fff;
  line-height: 1.8rem;
  font-family: var(--inter-font);
  text-decoration: underline;
}

.centerAlign {
  text-align: center;
}

.cardWrapper {
  display: flex;

  @media (max-width: 900px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.vision {
  text-align: center;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
}

.link {
  text-decoration: underline;
}