.admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  width: 100vw;
  overflow-x: scroll;
  list-style-type: none;
  display: flex;
}

.listItem {
  display: block;
}

.title {
  margin-block: 24px;
}