.characters {
  /* background: repeating-linear-gradient(transparent, transparent 4px, rgba(0,0,0,0.1) 4px, rgba(0,0,0,0.1) 8px); */
}

.folders {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}