.characters {
  background-color: #003049;
  background-image: linear-gradient(315deg, #669BBC 0%, #003049 74%);
  height: fit-content;
  min-height: 100vh;
  position: relative;
}

.folders {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}