.navbar {
  background-color: #13293d;
  color: #fff;
  width: 100%;
  height: fit-content;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.listItem {
  display: inline-block;
  margin: 12px;
}