.wrapper {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: underline;
}

.image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-inline-end: 12px;
}

