.profile {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}

.profileImageWrapper {
  width: 230px;
  border-radius: 50%;
  overflow: hidden;
}

.name, .description {
  width: 230px;
  display: inline-block;
  text-align: center;
  margin-block: 12px;
}